button {
  cursor: pointer;
  border: transparent;
  margin: 4px;
  padding: 3px;
  border-radius: 5px;
}

form {
  margin: 10px;
}

h1 {
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
  color: #b2046b;
  margin-bottom: 0.1rem;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #05cea7;
  margin-bottom: 0.1rem;
}
h3 {
  text-align: center;
  color: #b2046b;
  margin-bottom: 0.1rem;
}
h4 {
  font-size: 15px;
  text-align: right;
  color: #cccccc;
  margin-bottom: 0.1rem;
}
h5 {
  font-size: 15px;
  color: #2b2a2a;
  display: inline-block;
  margin: 5px;
}
h6 {
  font-size: 20px;
  text-align: center;
  padding: 2px;
  color: #cccccc;
}

input {
  box-sizing: content-box;
  width: 73%;
}

p {
  font-size: 10px;
  text-align: center;
  color: #2b2a2a;
  font-weight: bold;
}

small {
  color: #cccccc;
  font-size: 10px;
  font-style: italic;
}

.around {
  position: fixed;
  padding: 20px 30px;
  margin: 5px 5px;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: content-box;
  background: #2b2a2a;
  border-radius: 5px;
}
.card {
  display: inline-flex;
  width: 100px;
  height: 120px;
  line-height: 1.2;
  text-align: center;
  padding-top: 5px;
  margin: 5px;
  background-color: #0779ea;
}
.col-sm {
  margin: 0px;
  padding: 5px;
}

.iconSet {
  height: 60px;
  width: 60px;
}

.refreshButton {
  background-color: #05cea7;
}

.searchButton {
  background-color: #0779ea;
}

.weatherstats2 {
  display: inline-block;
  position: relative;

}
#celsius,
#fahrenheit {
  cursor: pointer;
}
